body
{
	background-image: url('../images/background/bg.jpg');
	margin: 0px !important;
}

.hide-view
{
	display: none;
}

.page 
{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

.page .content
{
	width: 1200px;
	height: 800px;
	background-image: url('../images/background/green-3.jpg');
}

/*
 * Menu
 */

.page .menu
{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: black;
	margin-bottom: 20px;
	
	
	border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}

.page .menu .logo
{
	width: 171px;
	height: 32px;
	background-image: url('../images/logo.png');
	margin-right: 100px;
	margin-left: 20px;
	cursor: pointer
}

.page .menu .logo:hover
{
	background-position: 0 -32px;
}

.page .menu .menu-item
{
	margin-right: 40px;
	font-family: 'Bad Script', cursive;
	font-size: 18px;
	color: #81B23C;
	cursor: pointer;
}

/*
 * Gallery
 */

#gallery
{
	width: 800px;
	height: 800px;
	background-color: black;
	margin: 0 auto;
}

#slides {
	width:720px;
	height: 540px;
	position:relative;
}

.slides_container {
	width: 100%;
	overflow:hidden;
	position:relative;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width: 720px;
	height: 720px;
	display: block;
	cursor: pointer;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position: absolute;
	top: 107px;
	left: 12px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
}

#slides .next {
	left: 946px;
}

