body
{
	background-image: url('../images/background/bg.jpg');
	margin: 0px !important;
}

.hide-view
{
	display: none;
}

.page 
{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

.page .content
{
	width: 1200px;
	height: 800px;
	background-image: url('../images/background/green-3.jpg');
}

/*
 * Menu
 */

.page #menu
{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: black;
	margin-bottom: 20px;
	
	
	border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
}

.page #menu .logo
{
	width: 171px;
	height: 32px;
	background-image: url('../images/logo.png');
	cursor: pointer;
	margin: 10px 100px 0px 20px;
}

.page #menu .logo:hover
{
	background-position: 0 -32px;
}

.page #menu .menu-item
{
	margin-right: 40px;
	font-family: 'Bad Script', cursive;
	font-size: 18px;
	color: #81B23C;
	cursor: pointer;
	margin-top: 8px;
}

/*
 * Gallery
 */

#gallery
{
	width: 900px;
	height: 640px;
	background-color: black;
	margin: 0 auto;
}

#slides {
	width:720px;
	height: 540px;
	position:relative;
	margin: 0 auto;
}

.slides_container {
	width: 100%;
	overflow:hidden;
	position:relative;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width: 720px;
	height: 540px;
	display: block;
	cursor: pointer;
	margin-top: 50px;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position: absolute;
	top: 288px;
	left: -61px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
	display: none;
}

#slides .next {
	left: 762px;
	display: none;
}

.pagination {
    position: absolute;
    right: 310px;
    bottom: -150px;
}

.pagination li {
    float: left;
    margin: 0 1px;
}

.pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url('../images/gallery/pagination.png');
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.pagination li.current a, .pagination li.current a:hover { background-position: 0 -13px }

.pagination li a:hover { background-position: 0 -26px }

.arrow
{
	display: none;
}

