/* Fonts */
@import url(fonts/fonts.css);

body
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	background: transparent url('../images/background/brown-3.jpg') repeat;
	overflow: hidden;
}

.hide-view
{
	display: none !important;
}

.page 
{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.page .content
{
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	width: 960px;
	max-width: 960px;
}

.page .content .inner
{
	position: absolute;
	top: 239px;
	bottom: 40px;
	width: 100%;
	background: black;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 30px;
}

.page .footer
{
	font-family: "Kristen";
	font-size: 11px;
	background-color: black;
	color: white;
	padding: 7px 0;
}

.page .footer .inner
{
	width: 960px;
	max-width: 960px;
	min-width: 780px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.page .social
{
	display: block;
	width: 65px;
	height: 50px;
	background-image: url('../images/social/facebook.png');
	left: -30px;
	top: 428px;
	opacity: 0.4;
	cursor: pointer;
	position: absolute;
	z-index: 1000;
	
	border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
}

.page .social:hover
{
	left: -10px;
	opacity: 1.0;
}

/*
 * Story
 */

#story
{
	text-align: center;
	color: white;
	
	margin: 10px auto;
	cursor: pointer;
	
	font-family: "Kristen";
}


#story .title
{
	font-weight: bold;
	font-size: 20px;
}

#story .image-container img
{
	height: 100%;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
}

#story .image-container img:hover
{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#story .image-container
{
	width: 300px;
	height: 250px;
	margin-left: 70px;
}

/*
 * Banner
 */


.page .content #banner
{
	width: 100%;
	height: 180px;
	position: absolute;
	top: 55px;
	padding: 0 30px;
	background: black;
}

#banner #slides {
	width: 957px;
	height: 180px;
	position: relative;
	margin: 0 auto;
}

#banner .slides_container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#banner .slides_container div.slide {
	width: 957px;
	height: 180px;
	display: block;
}

#banner .slides_container .slide img
{
	height: 100%;
}

/*
 * Menu
 */

.page #menu
{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: black;
	position: fixed;
	z-index: 1000;
}

.page #menu .logo
{
	width: 171px !important;
	height: 32px !important;
	background-image: url('../images/logo.png')  !important;
	cursor: pointer !important;
	margin: 10px 100px 0px 20px !important;
}

.page #menu .logo:hover
{
	background-position: 0 -32px;
}

.page #menu .menu-item
{
	margin-right: 40px;
	cursor: pointer;
	margin-top: 14px;
}

.page #menu .menu-item#map
{ 
	width: 32px;
	height: 24px;
	background-image: url('../images/menu/map.png');
}

.page #menu .menu-item#map:hover
{
	background-position: 0 -24px;
}

.page #menu .menu-item#places
{ 
	width: 41px;
	height: 18px;
	background-image: url('../images/menu/places.png');
}

.page #menu .menu-item#places:hover
{
	background-position: 0 -18px;
}

.page #menu .menu-item#tours
{ 
	width: 36px;
	height: 19px;
	background-image: url('../images/menu/tours.png');
}

.page #menu .menu-item#tours:hover
{
	background-position: 0 -19px;
}

.page #menu .menu-item#contact
{ 
	width: 51px;
	height: 18px;
	background-image: url('../images/menu/contact.png');
}

.page #menu .menu-item#contact:hover
{
	background-position: 0 -18px;
}



/*
 * Gallery
 */

#gallery
{
	width: 900px;
	height: 600px;
	background-color: black;
	margin-top: 70px;
	margin-left: 100px;
	position: absolute;
	
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#gallery #gallery-container
{
	width: 100%;
	height: 100%;
}

#gallery #slides {
	width:720px;
	height: 540px;
	position:relative;
	margin: 0 auto;
}

#gallery .slides_container {
	width: 100%;
	overflow:hidden;
	position:relative;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#gallery .slides_container div.slide {
	width: 720px;
	height: 540px;
	display: block;
	cursor: pointer;
	padding-top: 30px;
}

#gallery .slides_container .slide img
{
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
/*
	Next/prev buttons
*/

#gallery #slides .next,#gallery #slides .prev {
	position: absolute;
	top: 288px;
	left: -61px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
	display: none;
	
	opacity: 0.6;
}

#gallery #slides .next,#gallery #slides .prev:hover {
	
	opacity: 1;
}

#gallery #slides .next {
	left: 762px;
	display: none;
}

#gallery .pagination {
    position: absolute;
    right: 310px;
    bottom: -115px;
}

.pagination li {
    float: left;
    margin: 0 1px;
}

.pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url('../images/gallery/pagination.png');
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.pagination li.current a, .pagination li.current a:hover { background-position: 0 -13px }

.pagination li a:hover { background-position: 0 -13px }

.arrow
{
	display: none;
}

/*
 * Map
 */

.content #map
{
	width: 900px;
	height: 700px;
	position: absolute;
	top: 50px;
	left: 100px;
	
	box-shadow: inset 0 0 5px #ccc;
    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
}

/*
 * Scroll bar for Chrome
 */

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(127,127,127,0.3); 
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}